.Description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.SegundoTitulo {
  color: var(--color-title-two);
  margin-top: 3.75rem;
}

.SegundoTexto {
  color: var(--color-description);
  margin-top: 1rem;
  margin-bottom: 1.25rem;
}
