* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --color-card: #ebe9ea;
  --color-title-one: #ffffff;
  --color-title-two: #181818;
  --color-description: #474747;

  --header-font-size: 0.8rem;
  --title-font-size: 1.2rem;
  --text-font-size: 1.2rem;
}

body {
  font-family: 'Montserrat', sans-serif;
}
